{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}
    <div>Hello on va test le react dans symfony</div>
    <div {{ react_component("Hello", { "fullName": "RobinP"}) }}></div>
{% endblock %}
