{% extends 'base.html.twig' %}

{% block title %}Tous les animaux de la ferme{% endblock %}

{% block body %}

<section>
    <h1 class="text-center my-20 text-3xl font-semibold mx-2">Liste des animaux de la ferme</h1>
    <div {{ react_component("Animal/ShowAnimals", { "animals": animals }) }}></div>
</section>

{% endblock %}


