{% extends 'base.html.twig' %}

{% block title %}Page non trouvée - 404{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center my-20 text-3xl font-semibold mx-2">Oups ! La page que vous cherchez n'existe pas.</h1>
    </section>
{% endblock %}
