<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-200">
        <div class="flex justify-center mt-10 mx-10 gap-2 sm:justify-between">
            <a class="flex gap-2 w-fit py-2 px-3 bg-green-700 text-white font-bold rounded-md hover:bg-green-800" href="/">
                <img class="w-6 h-6" src="/icons/icon_home.svg" alt="icon home">
                <span class="hidden sm:block">Accueil</span>
            </a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="flex gap-2">
                    <p class="text-xl font-semibold my-auto mr-5 hidden sm:block">Bonjour {{ app.user.username }} !</p>
                    <a class="bg-blue-600 flex gap-2 text-white font-semibold py-2 px-3 rounded-md w-fit mx-auto hover:bg-blue-700" href="/admin/dashboard">
                        <p>Dashboard</p>
                        <img class="w-6 h-6" src="/icons/icon_dashboard.svg" alt="icon dashboard">
                    </a>
                    <a class="flex gap-2 w-fit py-2 px-3 bg-green-700 text-white font-bold rounded-md hover:bg-green-800" href="/logout">
                        <span class="hidden sm:block">Logout</span>
                        <img class="w-6 h-6" src="/icons/icon_logout.svg" alt="icon logout">
                    </a>
                </div>
            {% else %}
                <a class="flex gap-2 w-fit py-2 px-3 bg-green-700 text-white font-bold rounded-md hover:bg-green-800" href="/login">
                    Login
                    <img class="w-6 h-6" src="/icons/icon_login.svg" alt="icon login">
                </a>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
